<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8 p-2">
            <div class="card bg-light">
                <div class="card-header text-center h4 font-weight-bold">
                    Github @{{items.login}}
                </div>
                <div class="card-body row justify-content-center">
                    <img src="{{items.avatar_url}}" height="150px" class="card-image rounded" alt="Avatar Image">
                </div>
{{repos.length}}
                <ul>
                        
                </ul>
            </div>
        </div>
    </div>
</div>