<div class="container">
    <div class="row align-items-center flex-column">
        <form action="#" (submit)='fetchUserProfile()' #userForm="ngForm" class="form-inline p-1">
            <div class="btn-group">
                <input type="text" [(ngModel)]='user' class="border btn-sm" placeholder="Username..." name="username">
                <button type="submit" class="btn btn-sm btn-success mx-1">View Profile</button>
            </div>
        </form>
        <div class="col-sm-12 col-md-10 col-lg-8 p-2">
            <div class="card bg-light" *ngIf="items.login">
                <div class="card-header text-center h4 font-weight-bold">
                    Github @{{items.login}}
                </div>
                <div class="card-body row flex-column align-items-center">
                    <div class="avatar">
                        <img src="{{items.avatar_url}}" height="150px" class="card-image rounded" alt="Avatar Image">
                    </div>
                    <div class="card-text text-capitalize" *ngIf="items.login!='**Not Found!**'">
                        <p class="h5 text-center">{{items.login}}'s repositories ({{items.repos.length}})</p>
                        <div class="row">
                            <div class="col-md-6 my-1" *ngFor='let repo of items.repos'>
                                <a href="{{repo.html_url}}" target="_blank" class="text border-bottom">
                                    <span class="font-weight-bold">{{repo.name}}</span> <br>
                                    <span class="small px-1" *ngIf="repo.description">{{repo.description}}</span>
                                    <span class="small px-1" *ngIf="!repo.description">No Description</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-text text-capitalize" *ngIf="items.login=='**Not Found!**'">Please Enter A Valid Github Username</div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .text {
        height: 100%;
        display: flex; flex-direction: column;
        justify-content:center;
    }
    a{
        text-decoration: none;
    }
</style>